<!DOCTYPE html>
<html>
    <head>
        <title>Music Festival</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/slideshow.css"></link>
    </head>
    <body>
      <div id="st_main" class="st_main">
        <div class="st_overlay"></div>
        <h1>Bli bla blou</h1>
        <ul id="st_nav" class="st_navigation">
          {% for person in persons %}
            <li class="album">
                <span class="st_link">
                    {{ person.name }}
                    <span class="st_arrow_down"></span>
                </span>
                <div class="st_wrapper st_thumbs_wrapper">
                    <div class="st_thumbs">
                      {% for track in person.tracks %}
                        <div class="track">
                          <img src="http://userserve-ak.last.fm/serve/174s/58447065.jpg" alt="images/album/1.jpg"/>
                          <h3>{{ track.title }}</h3>
                          <ul>
                            <li>{{ track.artist }}</li>
                            <li>{{ track.album }}</li>
                            <li class="memo">{{ track.memo|raw }}</li>
                          </ul>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
      </div>
      <div class="footer">Available on https://github.com/Guibod/music-festival under the <a href="http://sam.zoy.org/wtfpl/">WTFPL</a></div>

      <!--
        {% for person in persons %}
        <h2>{{ person.name }}</h2>
        {% for track in person.tracks %}
        <h3>{{ track.title }}</h3>
        <img src="{{ track.cover }}" title="{{ track.title }}"/>
        <ul>
          <li>{{ track.artist }}</li>
          <li>{{ track.album }}</li>
          <li>{{ track.memo|raw }}</li>

          <li>tags</li>
          <ul>
          {% for tag,tagurl in track.tags %}
              <li><a href="{{tagurl}}">{{ tag }}</a></li>
          {% endfor %}
          </ul>

          <li>links</li>
          <ul>
          {% for link in track.links %}
              <li>{{ link|raw }}</li>
          {% endfor %}
          </ul>
        </ul>
        {% endfor %}
        {% endfor %}
        -->
      <script type="text/javascript" src="js/tipsy.js"></script>
      <script type="text/javascript" src="js/slideshow.js"></script>
    </body>
</html>